@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="/oauth/authorize">
        <img src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg" width="222" />
    </a>
    @if (!String.IsNullOrEmpty(Model.AccessToken))
    {
        <p>
            <strong>AccessToken:</strong> <code>@Model.AccessToken</code>
        </p>
        <p>
            <strong>CodeVerifier:</strong> <code>@Model.CodeVerifier</code>
        </p>
        <p>
            <strong>State:</strong> <code>@Model.State</code>
        </p>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>function REST_Call(path) {
                $('#contents').html("");
                $.ajax({
                    type: "GET",
                    url: path,
                    success: (data) => { console.log(data); $('#contents').html(data); }
                });
            }</script>
        <table>
            <tr>
                <td colsapn="3"><h1>카카오 로그인</h1></td>
            </tr>
            <tr>
                <td>사용자 정보 가져오기</td>
                <td><button onclick="REST_Call('/v2/user/me')">API Call </button></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>토큰 정보 보기</td>
                <td><button onclick="REST_Call('/v1/user/access_token_info')">API Call </button></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>로그아웃</td>
                <td><button onclick="REST_Call('/v1/user/logout')">API Call </button></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>연결끊기</td>
                <td><button onclick="REST_Call('/v1/user/unlink')">API Call </button></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>동의 내역 확인하기</td>
                <td><button onclick="REST_Call('/v2/user/scopes')">API Call </button></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colsapn="3"><h1>카카오 싱크</h1></td>
            </tr>
            <tr>
                <td>동의한 약관 확인하기 </td>
                <td><button onclick="REST_Call('/v1/user/service/terms')">API Call </button></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>배송지 조회하기 </td>
                <td><button onclick="REST_Call('/v1/user/shipping_address')">API Call </button></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colsapn="3"><h1>카카오톡 소셜</h1></td>
            </tr>
            <tr>
                <td>프로필 가져오기</td>
                <td><button onclick="REST_Call('/v1/api/talk/profile')">API Call </button></td>
                <td><button onclick="REST_Call('/Talk/profile.json')">Json Object </button></td>
                <td><button onclick="REST_Call('/Talk/profile.model')">Model Object </button></td>
            </tr>
            <tr>
                <td>친구 목록 가져오기</td>
                <td><button onclick="REST_Call('/v1/api/talk/friends')">API Call </button></td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <p>
            <textarea id="contents" rows='20' cols='100'></textarea>
        </p>
    }
</div>

